*, ::before, ::after {

    box-sizing: border-box;

    margin: 0;

    padding: 0;


    scroll-behavior:smooth;
}





/* body page Home */
body#home{
background: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
height: 100vh;
background: url('../img/background/background4.webp');
background-size: cover;
padding-bottom: 500px;
margin-bottom: 500px;
background-repeat: no-repeat;
position: relative;
}


/* body general */
body{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
height:100vh;
background-size:cover;
padding-bottom:50px;
background-repeat:no-repeat;
position:relative;
}


main{
display:flex;
flex-direction:column;
}



.anchor{
    display:block;
    height:60px;
    margin-top:-10px;
    visibility:hidden;
    border:3px solid red;
}



.bulleSocialNetworks,
.liste-nav,
.socialNetworks
{
    display:flex;
    position:relative;
}


.container-first{
    position:absolute;
    top:7vh;
    left:5%;
}


.container-btns,h1 span{
    position:relative;
}

.txtWhite{
    color:#fff;
}

.fontCourier{
    font-family: Arial, Helvetica, sans-serif;
}

.sloganHome{
margin-top: 7%;
margin-left: 25%;
}



body hr{
    width:50px;
    border: none;
    border-bottom: 1px solid rgba(119, 119, 119, 0.25)
}


.containerPresentationTxt{
    width: 60%;
    margin: 1rem auto;
    padding: 2rem;
    text-align: justify;
    transition: all 0.3s;
    background-color:#FFFF;
margin-top: 63px;
}


.containerPresentationTxt p{
    line-height: 1.5;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    background-color:#FFFF;

}

.containerPresentationTxt p:first-child::first-letter{
    color:#FE5F55;
    font-weight: bold;
    font-size: 70px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
}












  
h1{
    font-size:25px;
    font-family:cursive,sans-serif;
}

.container-btns{
    position:sticky;
    left: 3%;
}



.btn-first{
border:2px solid #fff;
outline:0;
background:0 0;
font-size:1.5em;
padding:20px;
width:11em;
color:#e0e2de;
cursor:pointer;
font-family:sans-serif;
}



.btn-first
{
  background-image: linear-gradient(
    -245deg,
    #8577b9 0%,
    #9169bb 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 190% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 130%;
}

@keyframes textclip {
  to {
    background-position: 99% center;
  }
}






.ligne1Deco,.ligne2Deco{
height:3px;
border-radius:5px;
}

.btn-first:hover,.ligne1Deco,.ligne2Deco,footer,nav{
background:#f1f1f1;
}


.btn-first:hover{
transition:.3s ease-in-out;
color:#333;
}


.lignesDeco{
position:absolute;
top:18%;
}

.ligne1Deco{
width:250px;
}

.ligne2Deco{
width:140px;
position:relative;
top: 15px;
}







.socialNetworks{
    display: none; /* temporairement cached for signup account in fb, insta... */
list-style-type:none;
right:3%;
transform:translateY(5em);
align-items:flex-end;
flex-direction:column;
}

.bulleSocialNetworks{
width:60px;
height:60px;
border-radius:50%;
border:1px solid #f1f1f1;
justify-content:center;
align-items:center;
margin:10px 0;
background:#f1f1f1;
cursor:pointer;
}

.bulleSocialNetworks:hover{
transition:transform .7s;
transform:scale(1.2);
}

.logo-socialNetworks{
width:40px;
height:40px;
}

.item:hover::after,.liste-nav,nav{
width:100%;
}

.navbar{
display:flex;
align-items:stretch;
}

nav{
height:50px;
z-index:1;
}

nav a{
color:#613f3f;
}

.liste-nav{
list-style-type:none;
height:100%;
justify-content:center;
align-items:center;
}

.item{
height:100%;
text-align:center;
line-height:50px;
padding:3px 10px 0;
text-transform:uppercase;
font-weight:600;
cursor:pointer;
}

.item::after{
content:'';
display:block;
width:0%;
height:2px;
border-radius:5px;
background:#000;
margin:-15px auto 0;
transition:width .2s ease-in-out;
}

.btn-responsive-menu{
position:fixed;
top:15px;
right:10px;
width:40px;
height:40px;
display:none;
cursor:pointer;
}

.lignesNav{
width:100%;
height:3px;
border-radius:5px;
background:#333;
position:absolute;
}

.content,.image,footer{
position:relative;
}

.lignesNav:first-child{
top:0;
}

.lignesNav:nth-child(2){
top:10px;
}

.lignesNav:nth-child(3){
top:20px;
}

.btn-responsive-menu.active .lignesNav:first-child{
top:12px;
transform:rotate(135deg);
}

.btn-responsive-menu.active .lignesNav:nth-child(2){
opacity:0;
transform:translateX(-20px);
}

.btn-responsive-menu.active .lignesNav:nth-child(3){
top:12px;
transform:rotate(-135deg);
}

.connexion{
text-align:left;
}

.content{
display:flex;
justify-content:space-between;
flex-direction:column;
width:100%;
background-color:#fff;
}

.contentMain{
display:flex;
flex-direction:column;
width:auto;
height:100vh;
}



.contentContainer{
box-sizing:border-box;
box-shadow:1px 0 15px #d76868;
min-height:80vh;
margin:5% 1% 1em;
padding-left:2em;
padding-top:1em;
padding-right:2em;
}


.contentContainer ul li{
padding-top:5px;
padding-bottom:5px;
list-style:none;
}


.contentContainer ul{
padding:5px 1.5em;
list-style:none;
}


.contentContainer div{
display:flex;
flex-direction:row;
justify-content:space-between;
flex-wrap:wrap;
align-items:center;
}


.contentContainer div ul:hover{
color:#1c7054;
cursor:pointer;
}

.hover li:hover{
color:#289b74;
cursor:pointer;
font-weight:700;
}


.contentContainer h4{
text-align:center;
color:#060606;
padding-bottom:2em;
font-size:1.2em;
}


.contentContainer h5{
text-align:center;
color:#060606;
font-size:1em;
}

.price{
text-align:center;
font-size: 73%;
font-style:italic;
}



.contentContainer span p{
text-align:center;
padding-bottom:1em;
}

/* section content sur les autres pages à part page Home */
.contentSeconde{
    margin: 3%;
}














footer{
height:auto;
width:100%;
margin-top:10%;
padding:1.3em;
bottom:0;
}



.footerCopyright{
text-align:center;
color:rgba(0,0,0,.7);
text-shadow:0 1px rgba(255,255,255,.1);
}

.footerRemonter img{
width:3%;
height:auto;
position:sticky;
}

.footerRemonter{
text-align:right;
scroll-behavior:smooth;
}

.footerCopyright .nomSite{
text-shadow:#333;
padding-left:11px;
padding-right:11px;
font-weight:900;
}

.footerPart1{
display:flex;
flex-direction:row;
justify-content:space-between;
}

.footerPart1 ul li{
list-style-type:none;
padding-bottom:1em;
}

.footerPart1 ul li span{
padding-left:1em;
}

.footerPart1 ul li i{
width:1em;
margin-right:1em;
}

.footerPart1 ul p{
padding-bottom:1.3em;
font-weight:700;
}

.activites{
display: flex;
flex-direction: column;
width:auto;
margin:45px 3.8% 0;
padding:0;
}

.activites h2{
font-size:1.3em;
margin:70px 0 30px;
}

.activites div img{
border-radius:10px 10px 0 0;
object-fit:cover;
}

.activites div {
    display: flex;
    flex-direction: column;
}

.activites div h3{
font-size:1em;
margin-left:17px;
}

.portfolio{
display:flex;
min-width:80vw;
max-width:90vw;
margin:4rem auto;
}

.image{
min-width:1vw;
height:110%;
margin:10px;
cursor:pointer;
transition:.5s cubic-bezier(.05, .61, .41,.95);
overflow:hidden;
}

.image.active{
flex-grow:100;
max-width:60em;
margin:0;
border-radius:7px;
background-size:auto 100%;
}

.image:not(.active){
flex-grow:1;
border-radius:5px;
}

.text-container{
width:100%;
min-height:60vh;
height:400px;
padding:2rem;
visibility:hidden;
transform:translateY(300px);
opacity:0;
transition:.4s;
background:linear-gradient(354deg,#000 0,transparent 72%);
color:#fff;
overflow:hidden;
}

.text{
position:absolute;
bottom:5rem;
}

.text h5{
color:#ecf588;
font-size:large;
position:fixed;
top:10%;
}

.active .text-container{
visibility:visible;
transform:translateY(0);
opacity:1;
}


.displayNone{
    visibility: hidden;
}





/* partie page de contact et section contact */

.contact{
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}



form {
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    margin-left: 17%;
    margin-right: 17%;
  }

  form h1 {
    font-size: 2em;
  }

 
  form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
    margin-top: 3%;
  }


  form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
  }
  form .corps-formulaire .left .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 2px solid #74dfc4;
    outline-color: #74dadf;
    border-radius: 5px;
  }
  form .corps-formulaire .left .groupe i {
    position: absolute; /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #3ca4be;
  }
  form .corps-formulaire .droite {
    margin-left: 40px;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    /* background-color: #f1f1f1; */
    border: 2px solid #74dfc4;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 100%;
  }

  .droite {
    width: 65%;
  }
  
  .left {
    width: 30%;
  }



  
  form .pied-formulaire button {
    margin-top: 10%;
    background-color: #5dbdee;
    color: white;
    font-size: 1em;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    width: 35em;
    height: 5em;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
  }
  
  .succesMessageSend{
   background-color: #7fcfb4;
    padding: 30px;
    padding-left: 25%;
    border-radius: 10px;
    position:absolute;
    top: 0;
    width: 99vw;
    align-items: center;
    align-self: center;
    align-content: center;
   font-size: 2em;
  }
  






/* 
@media screen and (max-width:900px){

    
.btn-responsive-menu{
display:block;
}

.item::after{
display:none;
}

.liste-nav{
top:-45em;
flex-direction:column;
justify-content:flex-start;
}

.liste-nav .item{
width:100%;
height:50px;
background:#f1f1f1;
color:#333;
margin-top:-1px;
}

.liste-nav.active-menu{
top:50px;
}

}
 */


 




 
@media screen and (max-width:999px){


.body#home{

display:flex;
flex-direction:column;
}


.content{
margin-top: 55vh;
}




.lignesDeco,.presentation,.socialNetworks{
display:none;
}



    
.btn-responsive-menu{
    display:block;
    }
    
    .item::after{
    display:none;
    }
    
    .liste-nav{
    display:block;
    top:-45em;
    flex-direction:column;
    justify-content:flex-start;
    }
    
    .liste-nav .item{
    width:100%;
    height:50px;
    background:#f1f1f1;
    color:#333;
    margin-top:-1px;
    }
    
    .liste-nav.active-menu{
    top:50px;
    }
    
.navbar{
display:flex;
align-items:stretch;
}



nav{
width:100%;
height:50px;
position:fixed;
z-index:1;
}



nav a{
text-decoration:none;
color:#433f61;
}



.container-first{
    display: flex;
    justify-content: center;
    flex-direction: column;
}



/* btn Contact me sur home page*/
.container-btns{
    margin-left: 25%;
width: 20vw;
}



.btn-first{
    border:2px solid #fff;
    background:1 0;
    padding:3%;
    cursor:pointer;
    font-family:sans-serif;
    font-size: 5vw;
    width:63vw;
    }


    
    
    
.displayVisible{
    visibility:visible;
}






.containerPresentationTxt{
    margin-left: 25%;
    width:63vw;
}




.contentContainer h5{
font-weight:900;
color:#000;
border:1px solid #333;
}



.contentContainer div{
display:flex;
flex-direction:column;
width:fit-content;
left:0;
right:0;
margin-top:15%;
margin-bottom:3%;
}



.contentContainer img{
width:80vw;
height:fit-content;
}



.activites{
height:auto;
width:auto;
margin:45px 3.8% 0;
}



.activites:hover{
color:#1c7054;
cursor:pointer;
}



.activites h5{
margin-top:3%;
margin-bottom:1%;
}






/*footer */
.footerPart1{

    display: flex;

    flex-direction: column;

    justify-content: space-between;
}


  
  
  
  .footerRemonter img{

      width: 9%;

      height: auto;

      position: sticky;
}


.footerOther{
    margin-top: 7%;
}

  
  
    .presentation{

    /* position: relative;

    padding-top: 10px;

    margin-top: 10px;

    margin: 3%;

    border: 3px solid red;
 */
    display: none;
}




.contentContainerPricing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}




.contentContainerPricing h5{
    margin-top: 1%;
}


.contentContainerPricing li{
border: 1px solid rgb(171, 162, 162);
background-color: rgb(249, 242, 243);
height: 9vh;
text-align: center;
}

.contentContainerPricing .price,h5{
    height:5vh;
    background-color: #eaefe5;
}
    







  
.lignesDeco {
    display: none;
}


  
  
.connexion{
    text-align:center;
}












/* partie page de contact et section contact */
.contentContact{
 padding-top: 0%;
 margin-top: 0;
}
.contact{
  
  top: 1px;
  margin-top: 0;
  padding-top: 0;
  /* transform: translate(-50%, -50%); */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}



form {
  border-radius: 5%;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  
}

form h1 {
  font-size: 11px;
}


form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 3%;
  margin-top: 3%;
}


form .corps-formulaire .groupe {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
form .corps-formulaire .left .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 2px solid #74dfc4;
  outline-color: #74dadf;
  border-radius: 5px;
}
form .corps-formulaire .left .groupe i {
  position: absolute; /* positionné par rapport à son parent le plus proche positionné */
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: #3ca4be;
}
form .corps-formulaire .droite {
  width: 80vw;
  margin-left: 0%;
  padding-left: 0%;
}
form .corps-formulaire .droite .groupe {
  width: 80vw;
  margin-left: 0%;
  padding-left: 0%;
}
form .corps-formulaire .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  /* background-color: #f1f1f1; */
  border: 2px solid #74dfc4;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 19em;
}





form .pied-formulaire button {
  margin-top: 10%;
  background-color: #5dbdee;
  color: white;
  font-size: 1rem;
  width: max-content;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
form .pied-formulaire button:hover {
  transform: scale(1.05);
}

.succesMessageSend{
 background-color: #7fcfb4;
  padding: 3%;
  padding-left: 25%;
  border-radius: 10px;
  position:absolute;
  top: 0;
  width: 99vw;
  align-items: center;
  align-self: center;
  align-content: center;
 font-size: 2em;
}

}

